body {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 265px;
  height: 730px;
  background-color: #1a6d87;
  display: inline-block;
  position: relative;
}

ul:hover {
  display: block;
}

li a {
  display: block;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  cursor: pointer;
  margin-top: 20px;
}
.active {
  justify-content: space-between;
  display: flex;
}

li a.active {
  background-color: rgba(52, 58, 64, 0.1);
  color: #fff;
  cursor: pointer;
  margin-top: 0;
  height: 40px;
  padding-top: 30px;
}

li a:hover:not(.active) {
  background-color: #2fa1c3;
  color: white;
}
header {
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-masthead.jpg);
  width: 100%;
  height: 730px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.9;
}
.header-section {
  justify-content: space-between;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 400px;
  font-size: 20px;
}
.header-section-button {
  color: white;
  background-color: #342a4080;
  width: 50px;
  height: 50px;
  border-radius: 5px;
  border: none;
  position: relative;
  margin: 20px 20px;
}
.header-image {
  margin-top: -15px;
  margin-bottom: 3px;
}

.header-section-text {
  text-align: center;
  margin-top: 190px;
  font-size: 50px;
  font-family: sans-serif;
}
.header-section-h1 {
  margin-bottom: -50px;
}
.header-section-h3 {
  font-size: 20px;
  font-style: italic;
  font-family: sans-serif;
  margin-top: 80px;
}

.header-button {
  color: white;
  background-color: #1a6d87;
  width: 176px;
  height: 66px;
  border-radius: 5px;
  border: none;
  position: relative;
}
.header-button:hover {
  background-color: #145b70;
}
article {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  height: 400px;
}
article a {
  color: #1d809f;
}
article h1 {
  font-size: 30px;
  margin-bottom: -5px;
}
article p {
  font-size: 18px;
}
.article-button {
  background-color: #212529;
  color: white;
  width: 180px;
  height: 70px;
  border-radius: 3px;
  border: none;
  margin-top: 30px;
}
.article-section {
  height: 550px;
  background-color: #1d809f;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.article-section h1 {
  color: #ecb807;
  font-size: 16px;
  margin-bottom: -30px;
  margin-top: 120px;
}
.article-section h2 {
  text-align: center;
  color: white;
  font-size: 48px;
  margin-top: 40px;
}
.article-section__ıcons {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
}

.article-section__ıcons h1 {
  color: white;
  margin-top: 70px;
  font-size: 24px;
}
.article-section__ıcons p {
  color: white;
  margin-top: 40px;
  opacity: 0.7;
  position: absolute;
  margin-left: -30px;
}

.article-section__Responsive {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100px;
}
.article-section__Responsive img {
  width: 55px;
  margin-top: 40px;
  margin-left: 8px;
}

.article-section__Redesigned {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100px;
  flex-direction: column;
}
.article-section__Redesigned img {
  width: 50px;
  margin-top: 35px;
}
.article-section__Favorited {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100px;
  flex-direction: column;
}
.article-section__Favorited img {
  width: 50px;
  margin-top: 30px;
  margin-bottom: -7px;
}
.article-section__Question {
  width: 120px;
  height: 120px;
  background-color: white;
  border-radius: 100px;
  flex-direction: column;
}
.article-section__Question img {
  width: 55px;
  margin-top: 40px;
}
.contents {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 740px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 0.9;
  background-image: url(https://startbootstrap.github.io/startbootstrap-stylish-portfolio/assets/img/bg-callout.jpg);
}
.contents h1 {
  font-size: 60px;
}
.portfolio-article {
  height: 950px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.portfolio-article h1 {
  color: #ecb807;
  font-size: 16px;
  margin-bottom: -30px;
  margin-top: 120px;
}
.portfolio-article h2 {
  text-align: center;
  color: black;
  font-size: 48px;
  margin-top: 40px;
}
.container {
  display: grid;
  grid-template-columns: auto auto;
}
.container img {
  width: 615px;
  height: 428px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
.container img:hover {
  width: 515px;
  height: 328px;
  background-color: #145b70;
}
.item-1 {
  width: 615px;
  height: 428px;
}
.item-2 {
  width: 615px;
  height: 428px;
}
.item-3 {
  width: 615px;
  height: 428px;
}
.item-4 {
  width: 615px;
  height: 428px;
}
